#1
{
    width: 1000px;
    height: 1000px;
    position: relative;
}
#PartieGauche
{
    width: 500px;
    height: 500px;
    position: relative;
    float: left;
}
#PartieDroite
{
    width: 200px;
    height: 500px;
    position: relative;
    float: right;
}
textarea { display:block;}

.btn-info
{
    background:red;
    border:none;
    border-radius:0px;
}
.btn-info:hover
{
    background:white;
    color:red;
    border:red solid 1px;
}
.modal-header
{
    background:#ff3333;
    color:white;
}
.btn-default
{
    background:#ff3333;
    color:white;
}